node_modules/
.env
.expo/
expo-env.d.ts

# Android build artifacts
android/.gradle/
android/.kotlin/
android/build/
android/app/build/
android/local.properties
android/OwnTrip.iml
android/.idea/

# iOS build artifacts
ios/build/
ios/Pods/
ios/.xcode.env.local

# Expo
.expo-shared/
dist/
web-build/
